<section id="testimonials-section">
    <div class="container">
        <hr class="header-line-1">
        <h1>@Localizer["testimonials-title"].</h1>
        <h4>@Localizer["testimonials-subtitle"]</h4>
        <div class="owl-carousel-testimonials owl-carousel owl-theme">
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/01.jpg">
                    </div>
                    <p>@Localizer["testimonial-one-text"]</p>
                    <h4>@Localizer["testimonial-one-author"]<br><span>@Localizer["testimonial-one-company"]</span></h4>
                </div>
            </div>
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/1.jpg">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consectetur autem quidem impedit excepturi ratione esse, incidunt alias dolorum voluptate quo mollitia sit temporibus officiis nostrum sapiente fuga provident nulla!</p>
                    <h4>Aljona Kurotova<br><span>SlovakiaInvest Director</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>