@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Main";
}

<section id="about-us-section">
    <div class="container">
        <hr class="header-line-1">
        <div class="container-about-us-header">
            <div class="about-us-header-column">
                <h1>@Localizer["About Us"].</h1>
                <h4>@Localizer["Flowers that make you happy for a long time"]</h4>
            </div>
            <div class="about-us-text-column">
                <p>@Localizer["About Us_text"]</p>
            </div>
        </div>
        <div class="container-about-us-images">
            <div class="container-about-us-big-left">
                <div class="container-about-us-big-left-image">
                    <div class="container-about-us-image-content">
                        <div class="container-about-us-image-text">
                            <h2>@Localizer["Our studio"]</h2>
                            <p>@Localizer["Our studio_text"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-about-us-big-right">
                <div class="container-about-us-big-right-image-one">
                    <div class="container-about-us-image-content">
                        <div class="container-about-us-image-text">
                            <h2>@Localizer["Team"]</h2>
                            <p>@Localizer["Team_description"]</p>
                        </div>
                    </div>
                </div>
                <div class="container-about-us-big-right-image-two">
                    <div class="container-about-us-image-content">
                        <div class="container-about-us-image-text">
                            <h2>@Localizer["Walls"]</h2>
                            <p>@Localizer["Walls_text"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-about-us-three-columns">
            <div>
                <h2>@Localizer["Who we are"]</h2>
                <p>@Localizer["Who we are_text"]</p>
            </div>
            <div>
                <h2>@Localizer["How we work"]</h2>
                <p>@Localizer["How we work_text"]</p>
            </div>
            <div>
                <h2>@Localizer["Our philosophy"]</h2>
                <p>@Localizer["Our philosophy_text"]</p>
            </div>
        </div>

    </div>
</section>

<section id="products-section">
    <div class="container">
        <hr class="header-line-1">
        <h1>@Localizer["Products"].</h1>
        <h4>@Localizer["We work with you, not for you"]</h4>
        <div class="container-products">
            <div class="product-item">
                <div class="flip">
                    <div class="front" style="background-image: url(/img/products/01_lamps.jpg)">
                    </div>
                    <div class="back" style="background-image: url(/img/products/01_lamps_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["Product_lamps_text"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["Order_button"]</a>
                    </div>
                </div>
                <div class="product-item-header">@Localizer["Product_lamps"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" style="background-image: url(/img/products/02_frames.jpg)">
                    </div>
                    <div class="back" style="background-image: url(/img/products/02_frames_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["Product_framework_text"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["Order_button"]</a>
                    </div>
                </div>
                <div class="product-item-header">@Localizer["Product_framework"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" style="background-image: url(/img/products/03_bigflowers.jpg)">
                        <h2>@Localizer["OnOrder_Rental"]</h2>
                    </div>
                    <div class="back" style="background-image: url(/img/products/03_bigflowers_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["Product_bigflowers_text"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["Order_button"]</a>
                    </div>
                </div>
                <div class="product-item-header">@Localizer["Product_bigflowers"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" style="background-image: url(/img/products/04_wings.jpg)">
                        <h2>@Localizer["OnOrder_Rental"]</h2>
                    </div>
                    <div class="back" style="background-image: url(/img/products/04_wings_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["Product_Wings_text"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["Order_button"]</a>
                    </div>
                </div>
                <div class="product-item-header">@Localizer["Product_Wings"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" style="background-image: url(/img/products/05_walls.jpg)">
                        <h2>@Localizer["OnOrder_Rental"]</h2>
                    </div>
                    <div class="back" style="background-image: url(/img/products/05_walls_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["Product_Wall_text"]</p>
                        </div>
                        <a class="product-button md-trigger">@Localizer["Order_button"]</a>
                    </div>
                </div>
                <div class="product-item-header">@Localizer["Product_Wall"]</div>
            </div>

            <div class="product-item">
                <div class="flip">
                    <div class="front" style="background-image: url(/img/products/06_material.jpg)">
                    </div>
                    <div class="back" style="background-image: url(/img/products/06_material_back.jpg)">
                        <div class="product-description-container">
                            <p>@Localizer["Product_Material_text"]</p>
                        </div>
                        <div class="product-description-container">
                            <ul>
                                <li>@Localizer["Product_Material_text_1"]</li>
                                <li>@Localizer["Product_Material_text_2"]</li>
                                <li>@Localizer["Product_Material_text_3"]</li>
                                <li>@Localizer["Product_Material_text_4"]</li>
                                <li>@Localizer["Product_Material_text_5"]</li>
                            </ul>
                        </div>
                        <a class="product-button md-trigger">@Localizer["Order_button"]</a>
                    </div>
                </div>
                <div class="product-item-header">@Localizer["Product_Material"]</div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio-section">
    <div class="container">
        <hr class="header-line-1">
        <h1>@Localizer["Portfolio"].</h1>
        <h4>Things we've made</h4>
        <div class="owl-carousel-portfolio owl-carousel owl-theme">
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/01.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order it!</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/02.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order it!</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/03.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order it!</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/04.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order it!</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/05.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order it!</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/06.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order it!</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/07.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-outer" style="background-image: url(/img/portfolio/08.jpg) ">
                <div class=portfolio-item-inner>
                    <div class="portfolio-item-header">Portfolio header</div>
                    <div class="portfolio-item-description">Portfolio description</div>
                    <div class="portfolio-item-button">
                        <a class="pillars-link md-trigger" href="#">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials-section">
    <div class="container">
        <hr class="header-line-1">
        <h1>@Localizer["Feedback"].</h1>
        <h4>Find us</h4>
        <div class="owl-carousel-testimonials owl-carousel owl-theme">
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/1.jpg">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consectetur autem quidem impedit excepturi ratione esse, incidunt alias dolorum voluptate quo mollitia sit temporibus officiis nostrum sapiente fuga provident nulla!</p>
                    <h4>Aljona Kurotova<br><span>SlovakiaInvest Director</span></h4>
                </div>
            </div>
            <div class="testimonials-container">
                <div class="testimonials-box">
                    <div class="image-box">
                        <img src="/img/testimonials/0.jpg">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consectetur autem quidem impedit excepturi ratione esse, incidunt alias dolorum voluptate quo mollitia sit temporibus officiis nostrum sapiente fuga provident nulla!</p>
                    <h4>Aleksei Popovich<br><span>I-Feature CEO</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>