<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@*@ViewData["Title"] -*@ Aura.Flowers</title>

    <environment include="Development">

    </environment>
    <environment exclude="Development">

    </environment>
    <link rel="stylesheet" href="/assets/font-awesome/all.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/brands.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
</head>
<body>
    <nav id="navigation-section">
        <div class="menu-container">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>

            <div class="logo">
                <a href="#header-section"><img src="/img/logo.png" alt="Aura.Flowers logo"></a>
            </div>

            <div class="menu">
                <ul>
                    <li><a class="scroll-to" id="about-as-menu" href="#about-us-section"><span>@Localizer["menu-about-us"]</span></a></li>
                    <li><a class="scroll-to" href="#products-section">@Localizer["menu-products"]</a></li>
                    <li><a class="scroll-to" href="#portfolio-section">@Localizer["menu-portfolio"]</a></li>
                    <!--<li><a class="scroll-to" href="#testimonials-section">@Localizer["menu-feedback"]</a></li>-->
                    <li><a class="scroll-to" href="#contacts-section">@Localizer["menu-contacts"]</a></li>
                    <li>@await Html.PartialAsync("_SelectLanguagePartial")</li>
                </ul>
            </div>

            <div class="social">
                <ul>
                    <li>
                        <a class="social-button facebook" href="https://www.facebook.com/auradecor.bigflowers/" title="AuraDecor Facebook" alt="AuraDecor Facebook" target="_blank"></a>
                    </li>
                    <li>
                        <a class="social-button instagram" href="https://www.instagram.com/auradecor_bigflowers/" title="AuraDecor Instagram" alt="AuraDecor Instagram" target="_blank"></a>
                    </li>
                    <li>
                        <a class="social-button mailto" href="mailto:info@aura.flowers" title="AuraDecor Mail" alt="AuraDecor Mail" target="_blank"></a>
                    </li>
                    <li>
                        <a class="social-button viber" href="viber://chat?number=+421905946443" title="AuraDecor Viber" alt="AuraDecor Viber"></a>
                    </li>
                    <li>
                        <a class="social-button whatsup" href="https://wa.me/421905946443" title="AuraDecor Whatsup" alt="AuraDecor Whatsup" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @await Html.PartialAsync("_HeaderPartial")

    @*<partial name="_CookieConsentPartial" />*@
    <main role="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_FooterPartial")

    <!-- Modal windows -->
    @await Html.PartialAsync("_ContactUsModalPartial")

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    </environment>
    <script src="~/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
